<h1>Bookmark Manager</h1>
<form action="/submit" method="post">
  <label for="url">
    Enter a website you want to save
    <input type="text" name='url'>
  </label>
  <label for="title">
    Enter the title for this bookmark
    <input type="text" name='title'>
  </label>
  <input type="submit" value="submit_url">
</form>
